p {
    border: 5px;
    border-style: solid;
    border-color: #7DCE94;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px; 
    background: #0D91A1;
    color: #015668;
    width: 200px;
    height: 70px;
    margin: 20px;
    font-family: 'Baloo Tammudu 2', cursive;
  }
  